.modal__container {
  position:       fixed;
  top:            0;
  left:           0;
  width:          0;height: 0;
  z-index:        9999;
  pointer-events: none;
}

.modal__hidden {
  display: none;
}

.modal__shown {
  position:       fixed;
  top:            0;
  right:          0;
  bottom:         0;
  left:           0;
  z-index:        9999;
  pointer-events: all;
}

.modal__shown:empty {
  display:   none;
  transform: scaleY(0);
}

.modal {
  position:   fixed;
  top:        0;
  right:      0;
  bottom:     0;
  left:       0;
  background: rgba(0, 0, 0, 0.8);
  display:    none;
  padding:    3px;

  transform:  translateZ(9999px);
}

.modal__shown .modal:last-of-type {
  display: block;
}

.modal__wrapper {
  position:      relative;
  box-sizing:    border-box;
  background:    white;
  width:         600px;
  margin:        0 auto;
  border-radius: 4px;
  box-shadow:    2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  padding:       5px;

  min-height:    40px;
  max-height:    95%;
  overflow:      auto;
}

.modal .modal__content {
  display: block;
}

.modal__content {
  z-index: 1;
  display: none;
}

.modal__content:empty {
  visibility: hidden;
  transform:  scaleY(0);
}

@media only screen and (max-width: 767px) {
  .modal__wrapper {
    max-width:  100% !important;
    max-height: 100% !important;
  }
}
